:root {
  --color: #363636;
  --tipo-principal: "Inter", sans-serif;
  --tipo-secundaria: Arial;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  cursor: none;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--color);
  line-height: 1.4em;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: #eaeaea;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
blockquote,
i,
b,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
@keyframes anim {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #909090;
}

.cursor {
  position: fixed;
  left: 10px;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 2;
}
.cursor.crecer {
  width: 25px;
  height: 25px;
}

.portrait {
  display: none;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.landing__p {
  position: absolute;
  top: 4vh;
  left: 4vw;
  font-style: italic;
  opacity: 0.8;
  font-size: 0.9rem;
}
.landing__texto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: end;
  position: absolute;
  top: 32vh;
  right: 5vw;
  z-index: 1;
}
.landing__footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 83vh;
  width: 100%;
  height: 20vh;
  z-index: 1;
}
.landing__img {
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 30vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.texto__h1 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 7rem;
  font-weight: 600;
  line-height: 110px;
  margin-bottom: 2vh;
}
.texto__h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  padding-right: 1vw;
  opacity: 0.9;
  margin-bottom: 2vh;
}
.texto__p {
  padding-right: 1vw;
  text-transform: uppercase;
  font-style: italic;
  opacity: 0.8;
}

.footer__img {
  position: relative;
  left: 2vw;
  width: 130px;
  filter: opacity(0.5);
  z-index: 1;
}
.footer__icono {
  width: 34px;
  height: 55px;
  scale: 0.8;
  z-index: 1;
}
.footer__raton {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #363636;
  border-radius: 25px;
  opacity: 0.5;
  box-sizing: content-box;
}
.footer__rueda {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #363636;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
.footer__p {
  position: relative;
  right: 6vw;
  text-transform: uppercase;
  font-style: italic;
  opacity: 0.8;
}

.efecto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  min-height: 280vh;
  overflow: hidden;
  white-space: nowrap;
  background-color: #101010;
}
.efecto__span {
  font-size: 17rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #eaeaea;
}
.efecto__trigger {
  position: relative;
  top: 115vh;
}
.efecto__texto2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  position: relative;
  width: 30vw;
  white-space: wrap;
  text-align: center;
}

.texto2__p {
  text-transform: uppercase;
  font-style: italic;
  opacity: 0.8;
  color: #eaeaea;
}

.proyectos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: 360vh;
  width: 100%;
  min-height: 320vh;
  background-color: #101010;
}
.proyectos__section {
  width: 90%;
  min-height: 110vh;
  margin-top: 5vh;
}
.proyectos__contacto {
  margin-top: 5vh;
  width: 100%;
  min-height: 100vh;
  background-color: #eaeaea;
}

.section__img {
  height: 100vh;
  transition: 0.2s ease-in-out;
}
.section__img:hover {
  scale: 1.01;
  border: 1px solid #eaeaea;
}
.section__texto {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: start;
  height: 10vh;
}
.section__h3 {
  padding-top: 3vh;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  color: #eaeaea;
}

.contacto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
}
.contacto__loop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 360vh;
  height: 15vh;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.contacto__h2 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 8rem;
  font-style: italic;
  font-weight: 700;
  white-space: nowrap;
  color: #363636;
  animation: anim 15s linear infinite;
}
.contacto__texto3 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 22vh;
  width: 100%;
}

.texto3__a {
  margin-bottom: 2vh;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.texto3__h3 {
  padding-top: 25vh;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 30px;
  text-transform: uppercase;
  opacity: 0.9;
}

@media (min-width: 1921px) {
  h1,
  h2,
  h3,
  p,
  span {
    font-size: 150%;
  }
}
@media (max-width: 1680px) {
  .landing__img {
    top: 5vh;
  }
}
@media (max-width: 1440px) {
  p {
    font-size: 70%;
  }
  .landing__img {
    top: 22vh;
  }
  .texto {
    top: 35vh;
  }
  .texto__h1 {
    font-size: 5rem;
    margin-bottom: 0;
  }
  .texto__h3 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  .texto__p {
    font-size: 80%;
  }
  .efecto__span {
    font-size: 1300%;
  }
  .section__h3 {
    font-size: 100%;
  }
  .contacto__h2 {
    font-size: 600%;
  }
  .texto3__a, .texto3__h3 {
    font-size: 90%;
  }
}
@media (max-width: 1024px) {
  .landing__p {
    font-size: 60%;
  }
  .landing__img {
    top: 28vh;
  }
  .texto {
    top: 35vh;
  }
  .texto__h1 {
    font-size: 3.5rem;
    margin-bottom: 0;
  }
  .texto__h3 {
    line-height: 0;
    font-size: 0.9rem;
    margin-bottom: 2vh;
  }
  .texto__p {
    font-size: 60%;
  }
  .footer {
    scale: 0.8;
  }
  .footer__p {
    font-size: 75%;
  }
  .efecto__span {
    font-size: 1000%;
  }
  .texto2__p {
    font-size: 60%;
    line-height: 15px;
  }
  .section__h3 {
    font-size: 80%;
  }
  .contacto__h2 {
    font-size: 500%;
  }
  .texto3__a, .texto3__h3 {
    font-size: 70%;
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  * {
    cursor: auto;
  }
  .cursor {
    width: 0;
  }
  .cursor.crecer {
    width: 0;
  }
  .landing__img {
    bottom: 3vh;
  }
  .landing__p {
    font-size: 60%;
  }
  .texto {
    top: 30vh;
  }
  .texto__h1 {
    font-size: 3rem;
    line-height: 55px;
    margin-bottom: 2vh;
  }
  .texto__h3 {
    line-height: 0;
    font-size: 1rem;
    margin-bottom: 4vh;
  }
  .texto__p {
    font-size: 60%;
    line-height: 15px;
  }
  .footer {
    display: none;
    top: 34vh;
    scale: 1;
  }
  .footer__img {
    width: 60px;
  }
  .footer__icono {
    scale: 0.4;
  }
  .footer__p {
    font-size: 60%;
  }
  .efecto__span {
    font-size: 600%;
  }
  .texto2__p {
    font-size: 40%;
    line-height: 15px;
  }
  .proyectos {
    top: 325vh;
    min-height: 200vh;
  }
  .proyectos__section {
    min-height: 50vh;
  }
  .section__img {
    height: 80vh;
  }
  .section__h3 {
    font-size: 60%;
  }
  .contacto {
    min-height: 100vh;
  }
  .contacto__loop {
    top: 300vh;
  }
  .contacto__h2 {
    font-size: 450%;
  }
  .texto3__a, .texto3__h3 {
    text-align: center;
    font-size: 60%;
  }
}
@media (max-width: 768px) and (orientation: portrait) {
  .portrait {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: #101010;
  }
  .portrait__h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #eaeaea;
  }
}/*# sourceMappingURL=app.css.map */