@use '_mixins.scss' as *;
@use '_reset.scss';

@keyframes scroll {
	0% {
		opacity: 0;
	}
	10% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(15px);
		opacity: 0;
	}
}

@keyframes anim {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-thumb {
	background-color: #909090;
}

.cursor {
	position: fixed;
	left: 10px;
	width: 15px;
	height: 15px;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	mix-blend-mode: difference;
	border-radius: 50%;
	pointer-events: none;
	transition: width 0.5s, height 0.5s;
	z-index: 2;
	&.crecer {
		width: 25px;
		height: 25px;
	}
}

.portrait {
	display: none;
}

.landing {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	&__p {
		position: absolute;
		top: 4vh;
		left: 4vw;
		font-style: italic;
		opacity: 0.8;
		font-size: 0.9rem;
	}
	&__texto {
		@include flex(column, nowrap, start, end);
		position: absolute;
		top: 32vh;
		right: 5vw;
		z-index: 1;
	}
	&__footer {
		@include flex(row, nowrap, space-between, center);
		position: absolute;
		top: 83vh;
		width: 100%;
		height: 20vh;
		z-index: 1;
	}
	&__img {
		position: absolute;
		top: 5vh;
		left: 5vw;
		width: 30vw;
		user-select: none;
		pointer-events: none;
	}
}

.texto {
	&__h1 {
		font-family: 'Playfair Display', serif;
		font-style: italic;
		font-size: 7rem;
		font-weight: 600;
		line-height: 110px;
		margin-bottom: 2vh;
	}
	&__h3 {
		font-size: 1.5rem;
		text-transform: uppercase;
		font-style: italic;
		padding-right: 1vw;
		opacity: 0.9;
		margin-bottom: 2vh;
	}
	&__p {
		padding-right: 1vw;
		text-transform: uppercase;
		font-style: italic;
		opacity: 0.8;
	}
}

.footer {
	&__img {
		position: relative;
		left: 2vw;
		width: 130px;
		filter: opacity(0.5);
		z-index: 1;
	}
	&__icono {
		width: 34px;
		height: 55px;
		scale: 0.8;
		z-index: 1;
	}
	&__raton {
		width: 3px;
		padding: 10px 15px;
		height: 35px;
		border: 2px solid #363636;
		border-radius: 25px;
		opacity: 0.5;
		box-sizing: content-box;
	}
	&__rueda {
		width: 3px;
		height: 10px;
		border-radius: 25%;
		background-color: #363636;
		animation-name: scroll;
		animation-duration: 2.2s;
		animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
		animation-iteration-count: infinite;
	}
	&__p {
		position: relative;
		right: 6vw;
		text-transform: uppercase;
		font-style: italic;
		opacity: 0.8;
	}
}

.efecto {
	@include flex(column, nowrap, start, center);
	min-height: 280vh;
	overflow: hidden;
	white-space: nowrap;
	background-color: #101010;
	&__span {
		font-size: 17rem;
		font-weight: 700;
		text-transform: uppercase;
		color: #eaeaea;
	}
	&__trigger {
		position: relative;
		top: 115vh;
	}
	&__texto2 {
		@include flex(column, wrap, start, center);
		position: relative;
		width: 30vw;
		white-space: wrap;
		text-align: center;
	}
}

.texto2 {
	&__p {
		text-transform: uppercase;
		font-style: italic;
		opacity: 0.8;
		color: #eaeaea;
	}
}

.proyectos {
	@include flex(column, nowrap, start, center);
	position: absolute;
	top: 360vh;
	width: 100%;
	min-height: 320vh;
	background-color: #101010;
	&__section {
		width: 90%;
		min-height: 110vh;
		margin-top: 5vh;
	}
	&__contacto {
		margin-top: 5vh;
		width: 100%;
		min-height: 100vh;
		background-color: #eaeaea;
	}
}

.section {
	&__img {
		height: 100vh;
		transition: 0.2s ease-in-out;
		&:hover {
			scale: 1.01;
			border: 1px solid #eaeaea;
		}
	}
	&__texto {
		@include flex(row, nowrap, start, start);
		height: 10vh;
	}
	&__h3 {
		padding-top: 3vh;
		font-size: 1.5rem;
		text-transform: uppercase;
		font-style: italic;
		color: #eaeaea;
	}
}

.contacto {
	@include flex(column, nowrap, center, start);
	&__loop {
		@include flex(row, nowrap, center, center);
		position: absolute;
		top: 360vh;
		height: 15vh;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
	&__h2 {
		display: inline-block;
		text-transform: uppercase;
		font-size: 8rem;
		font-style: italic;
		font-weight: 700;
		white-space: nowrap;
		color: #363636;
		animation: anim 15s linear infinite;
	}
	&__texto3 {
		@include flex(column, nowrap, center, center);
		position: relative;
		top: 22vh;
		width: 100%;
	}
}

.texto3 {
	&__a {
		margin-bottom: 2vh;
		font-size: 1.2rem;
		text-transform: uppercase;
	}
	&__h3 {
		padding-top: 25vh;
		font-size: 1.2rem;
		font-style: italic;
		line-height: 30px;
		text-transform: uppercase;
		opacity: 0.9;
	}
}

@include device(bigscreen) {
	h1,
	h2,
	h3,
	p,
	span {
		font-size: 150%;
	}
}

@include device(pc) {
	.landing__img {
		top: 5vh;
	}
}

@include device(laptopL) {
	p {
		font-size: 70%;
	}
	.landing__img {
		top: 22vh;
	}
	.texto {
		top: 35vh;
		&__h1 {
			font-size: 5rem;
			margin-bottom: 0;
		}
		&__h3 {
			font-size: 1.1rem;
			margin-bottom: 0;
		}
		&__p {
			font-size: 80%;
		}
	}
	.efecto__span {
		font-size: 1300%;
	}
	.section__h3 {
		font-size: 100%;
	}
	.contacto__h2 {
		font-size: 600%;
	}
	.texto3 {
		&__a,
		&__h3 {
			font-size: 90%;
		}
	}
}

@include device(laptopS) {
	.landing__p {
		font-size: 60%;
	}
	.landing__img {
		top: 28vh;
	}
	.texto {
		top: 35vh;
		&__h1 {
			font-size: 3.5rem;
			margin-bottom: 0;
		}
		&__h3 {
			line-height: 0;
			font-size: 0.9rem;
			margin-bottom: 2vh;
		}
		&__p {
			font-size: 60%;
		}
	}
	.footer {
		scale: 0.8;
		&__p {
			font-size: 75%;
		}
	}
	.efecto__span {
		font-size: 1000%;
	}
	.texto2__p {
		font-size: 60%;
		line-height: 15px;
	}
	.section__h3 {
		font-size: 80%;
	}
	.contacto__h2 {
		font-size: 500%;
	}
	.texto3 {
		&__a,
		&__h3 {
			font-size: 70%;
		}
	}
}

@include device(tablet) {
	* {
		cursor: auto;
	}
	.cursor {
		width: 0;
		&.crecer {
			width: 0;
		}
	}
	.landing {
		&__img {
			bottom: 3vh;
		}
		&__p {
			font-size: 60%;
		}
	}
	.texto {
		top: 30vh;
		&__h1 {
			font-size: 3rem;
			line-height: 55px;
			margin-bottom: 2vh;
		}
		&__h3 {
			line-height: 0;
			font-size: 1rem;
			margin-bottom: 4vh;
		}
		&__p {
			font-size: 60%;
			line-height: 15px;
		}
	}
	.footer {
		display: none;
		top: 34vh;
		scale: 1;
		&__img {
			width: 60px;
		}
		&__icono {
			scale: 0.4;
		}
		&__p {
			font-size: 60%;
		}
	}
	.efecto__span {
		font-size: 600%;
	}
	.texto2__p {
		font-size: 40%;
		line-height: 15px;
	}
	.proyectos {
		top: 325vh;
		min-height: 200vh;
		&__section {
			min-height: 50vh;
		}
	}
	.section {
		&__img {
			height: 80vh;
		}
		&__h3 {
			font-size: 60%;
		}
	}
	.contacto {
		min-height: 100vh;
		&__loop {
			top: 300vh;
		}
		&__h2 {
			font-size: 450%;
		}
	}
	.texto3 {
		&__a,
		&__h3 {
			text-align: center;
			font-size: 60%;
		}
	}
}

@media (max-width: 768px) and (orientation: portrait) {
	.portrait {
		@include flex(row, nowrap, center, center);
		position: fixed;
		width: 100%;
		height: 100vh;
		z-index: 5;
		background-color: #101010;
		&__h2 {
			font-size: 2rem;
			text-transform: uppercase;
			color: #eaeaea;
		}
	}
}
